ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1B89B2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FF9119;
}

.active {
  background-color: #FF9119;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: salmon;
}

h1 {
  color: crimson;
}

h2 {
  font-style: italic;
  color: crimson;
}

p {
  color: green;
}

















